@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ffffff;
    background-color: #ffffff;

}

.paraImage {
    animation: spin 8s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.heroAnim span {
    position: absolute;
    left: 50%;
    top: -32px;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    transform-origin: 0 65px;
}