@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ffffff;
    background-image: linear-gradient(130deg, #923cb5 0%, #000000 80%);
}


/* Product Card animation */
.productCard {
    opacity: 0;
    animation: card 0.3s forwards ease-in-out;
}

.productCard.active {
    animation: card1 0.3s forwards ease-in-out;
}

@keyframes card {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes card1 {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}